@font-face {
    font-family: HelveticaLight;
    src: url(../fonts/HelveticaLight/HelveticaLight.ttf);
}

@font-face {
    font-family: HelveticaRegular;
    src: url(../fonts/HelveticaRegular/HelveticaRegular.ttf);
}